<!DOCTYPE html>
<html>
    <head>
        <title>Unoffical Comments</title>
        <meta name="viewport" content="width = device-width , initial-scale=1.0">
        <h1 id="h1" style="background-color:maroon;color:white;font-size:41px;text-align:center;margin-top:-0.1em">Rizvi<br> Comment</h1>
    </head>
    <body>
        <h2 style="text-align:center;font-size:15px;">Keep it going  We do not have your details <img src="{{url_for('static', filename='images.jpg')}}" width="45" height="35"/></h2>
                        {% block p %} {% endblock %}
                 <form action="/register" method="POST" name="reload">
                        <p style="background-color:AQUA;">
                        <input type="text" name="username" placeholder="Please enter a Username" height="50px" style="height:40px;width:180px;margin:0.5em;"><br>
                        <textarea name="name" style="height:45px;width:350px;font-size:14pt;"  placeholder="message......" ></textarea><br>
                        <button type="submit" onclick="submit()" style="background-color:blue;color:white;font-size:14pt;width:25%;">Post</button>
                        </p>
                 </form>
                 <script>
                    var element = document.getElementById("p");
                    element.scrollTop = element.scrollHeight;
                </script>
   <small style="margin-left:18em;font-size:40%">A Siddhant Shah Productions</small>
   </body>
</html>