<!DOCTYPE html>
<html>
    <head>

        <title>Unoffical Comments</title>
        <meta name="viewport" content="width = device-width , initial-scale=1.0">
        <h1 id="h1" style="background-color:maroon;color:white;font-size:60px;text-align:center; margin-top: 0;">Rizvi Comment</h1>
    </head>
    <body>
        <h2 style="text-align:center; margin-top:-0.9em;font-size:25px;">Keep it going  We do not have your details <img src="{{url_for('static', filename='images.jpg')}}" width="40" height="30"/></h2>

                        {% block p %} {% endblock %}
ac;kacn;ps
cnsd;ncs
lvbosdhcp

                 <form action="/register" method="POST" name="reload">
                    <p style="background-color:AQUA;">
                        <textarea name="name" style="height:45px;width:350px;font-size:14pt;"  placeholder="message......" ></textarea><br>
                        <button type="submit" onclick="submit()" style="background-color:blue;color:white;font-size:14pt;width:25%;">Post</button>
                    </p>
                 </form>

                 <script>
                    var element = document.getElementById("p");
                    element.scrollTop = element.scrollHeight;
                </script>




    </body>
</html>